@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex flex-wrap items-center justify-center rounded-lg font-bold cursor-pointer;
  }
  .btn-sm {
    @apply h-8 px-3 text-sm;
  }
  .btn-md {
    @apply h-12 px-4 text-sm;
  }
  .btn-ghost {
    border-width: 1px;
    border-color: transparent;
    background-color: transparent;
    color: currentColor;
  }
  .btn-square {
    height: 3rem;
    width: 3rem;
    padding: 0;
  }
  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  .screen-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
